.products{
    display: flex;
    height: 545px;
}

.filters{
    width: 20%;
    background-color: var(--light-primary);
    padding: 15px 20px;
    box-shadow: 2px 2px 15px 2px var(--primary-color);
    /* border-right: 2px solid var(--dark-primary); */
    position: sticky;
    left: 0;
    overflow-y: auto;
}

.product-list{
    width: 80%;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}