.icon-input{
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 0px;
    font-family: var(--poppin-font);
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.icon-input input{
    border: 0;
    width: 90%;
    padding:0;
}

.icon-input .icon{
    width: 10%;
    display: flex;
    align-items: center;
}