.landing{
    /* background-color: var(--light-primary); */
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;      
}

.image-container {
    position: relative;
    display: flex;
    width: 60%;
    height: 550px;
}

/* .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%; 
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    pointer-events: none;
} */

.image{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 8px #fff inset;
}
  
.back-image-one{
    width: 280px;
    height: 280px;
    border-radius: 10rem;
    object-fit: cover;
    position: absolute;
    top: 30px;
    left: 90px;
}

.back-image-two{
    width: 350px;
    height: 350px;
    border-radius: 15rem;
    object-fit: cover;
    position: absolute;
    top: 45px;
    right: 70px;
}

.back-image-three{
    width: 200px;
    height: 200px;
    border-radius: 15rem;
    object-fit: cover;
    position: absolute;
    left: 230px;
    bottom: 40px;
}

.intro-container{
    width: 40%;
    height: 550px;
    display: flex;
    align-items: center;
}

.welcome-card{
    height: 28rem;
    width: 25rem;
    background-color: var(--light-primary);
    border-radius: 1rem;
    box-shadow: 2px 2px 15px 2px var(--primary-color);
    margin-left: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.intro-title{
    font-weight: 600;
    font-size: 1.5rem;
}

.intro-title span{
    color: var(--dark-primary);
}

.subtitle{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.quote{
    color: var(--dark-primary);
    font-weight: bold;
    font-size: 1.2rem;
    /* margin: 1rem 0; */
}

.welcome-card button{
    font-size: 16px;
    padding: 10px 25px;
}

.sub-title{
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    padding: 15px 0;
    text-align: center;
    background-color: var(--primary-color);
}

.category-conatiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cat-card{
    width: 200px;
    height: 280px;
    padding: 8px;
    border: 3px solid var(--dark-primary);
    margin: 10px 5px;
}

.cat-image{
    width: 200px;
    height: 250px;
}

.cat-text{
    text-align: center;
    font-weight: 600;
}

.footer-text{
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
}


/* .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
} */