footer{
    height: 120px;
    background-color: #a0f7cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    gap: 10px;
}

footer .icon-div{
    display: flex;
    gap: 20px;
}

footer .link{
    color: var(--font-color);
}

.footer-text{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
