/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  --primary-color: #a0f7cd;
  --light-primary: #f6fffb;
  --dark-primary: #6dcf9f;
  --secondary-color: #FFF8D6;
  --dark-gray: #6B7280 ;
  --off-white: #F3F4F6;
  --light-gray: #fbfaf7;
  --poppins-font: 'Poppins', sans-serif;
  --shadows-into-light: 'Shadows Into Light', cursive;
  --font-color: #363636;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--poppins-font);
  color: var(--font-color);
}

p {
  margin: 0;
}

button {
  border: 0;
  padding: 10px 20px;
  font-family: var(--poppins-font);
  font-weight: 600;
  background-color: var(--primary-color);
}

.app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}